.login {
    padding-left: 20%;
    padding-right: 20%;
    width: 700px;
    height: 400px;
    margin: 0px auto;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

b {
    font-size: 40px;
    text-align: center;
}

.but {
    width: 100px;
    height: 30px;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.fon {
    width: 700px;
    height: 250px;
    border: 5px solid black;
    margin: 0px auto;
}

.block1 {
   padding: 3% 18% 0 18%;
}

.buts {
    padding-left: 290px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

table {
    width: 700px;
    height: 150px;
    border: 5px solid black;
    border-collapse: collapse;
    margin: 0px auto;
}

td,
th {
    border: 5px solid black;
    text-align: center
}

header {
    width: 700px;
    margin: 0 auto;
    height: 50px;
    padding-left: 50px;
    background-color: rgb(0, 255, 157);
    box-sizing: border-box;
}

body {
    margin: 0;
}

.fon-block {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    background-color: rgb(219, 246, 253, 0.5);
    margin-top: -217px;
    margin-left: -294px;
}

.block {
    width: 300px;
    height: 200px;
    display: none;
    margin: auto;
    border: 1px solid black;
    padding: 30px;
    box-sizing: border-box;
    background-color: white;
    margin: 160px 475px;
}

.but2 {
    margin: 2%;
    width: 100px;
    height: 30px;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
    z-index: -1;
}

.text-color {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    background-color: rgb(219, 246, 253, 0.5);
    margin-top: -217px;
    margin-left: -294px;
}

.colors-text {
    width: 300px;
    height: 200px;
    display: none;
    margin: auto;
    border: 1px solid black;
    padding: 30px;
    box-sizing: border-box;
    background-color: white;
    margin: 160px 475px;
}

.body-color {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    background-color: rgb(219, 246, 253, 0.5);
    margin-top: -217px;
    margin-left: -294px;
}

.colors-body {
    width: 300px;
    height: 200px;
    display: none;
    margin: auto;
    border: 1px solid black;
    padding: 30px;
    box-sizing: border-box;
    background-color: white;
    margin: 160px 475px;
}

.colors{
    display: flex;
    flex-direction: row;
}